USE [master]
GO
/****** Object:  Database [QLKQHT]    Script Date: 20/03/2019 7:31:55 SA ******/
CREATE DATABASE [QLKQHT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKQHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL\MSSQL\DATA\QLKQHT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKQHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQL\MSSQL\DATA\QLKQHT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKQHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKQHT]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 20/03/2019 7:31:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nchar](10) NOT NULL,
	[DIEMHK1] [float] NULL,
	[DIEMHK2] [float] NULL,
	[DIEMTB] [float] NULL,
	[HANHKIEM] [nvarchar](15) NULL,
	[XEPLOAI] [nvarchar](15) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 20/03/2019 7:31:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGIAOVIEN] [nchar](10) NOT NULL,
	[TENGIAOVIEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[LOPCHUNHIEM] [nvarchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 20/03/2019 7:31:55 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [nchar](10) NOT NULL,
	[TENHOCSINH] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[KHOI] [nchar](10) NULL,
	[LOP] [nchar](10) NULL,
	[SDTPHUHUYNH] [nchar](10) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIEM] ([MAHS], [DIEMHK1], [DIEMHK2], [DIEMTB], [HANHKIEM], [XEPLOAI]) VALUES (N'HS001     ', 7, 8, 7.8, N'Tốt', N'Khá')
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [TENGIAOVIEN], [GIOITINH], [NGAYSINH], [LOPCHUNHIEM], [SDT], [DIACHI]) VALUES (N'GV01      ', N'Trần Anh Tài', 1, CAST(0x8A0B0B00 AS date ), N'6A', N'0967854321', N'98 Trần Hưng Đạo')
INSERT [dbo].[HOCSINH] ([MAHS], [TENHOCSINH], [GIOITINH], [NGAYSINH], [KHOI], [LOP], [SDTPHUHUYNH], [DIACHI]) VALUES (N'HS002     ', N'Trần Anh Tú', 1, CAST(0x152F0B00 AS Date), N'9         ', N'9B        ', N'0399751625', N'Lê Lợi')
INSERT [dbo].[HOCSINH] ([MAHS], [TENHOCSINH], [GIOITINH], [NGAYSINH], [KHOI], [LOP], [SDTPHUHUYNH], [DIACHI]) VALUES (N'HS003     ', N'Lương Thiên Ngân', 0, CAST(0x3F2E0B00 AS Date), N'9         ', N'9C        ', N'0345612592', N'Lý Tự Trọng')
INSERT [dbo].[HOCSINH] ([MAHS], [TENHOCSINH], [GIOITINH], [NGAYSINH], [KHOI], [LOP], [SDTPHUHUYNH], [DIACHI]) VALUES (N'HS004     ', N'Trần Quỳnh Trúc', 0, CAST(0xA42E0B00 AS Date), N'9         ', N'9D        ', N'0905645897', N'Huỳnh Mẫn Đạt')
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GIAOVIEN', @level2type=N'COLUMN',@level2name=N'NGAYSINH'
GO
USE [master]
GO
