USE [master]
GO
/****** Object:  Database [QLKQHT]    Script Date: 03/05/2019 12:12:29 ******/
CREATE DATABASE [QLKQHT] ON  PRIMARY 
( NAME = N'QLKQHT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QLKQHT.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKQHT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QLKQHT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKQHT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKQHT]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 03/05/2019 12:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [nchar](10) NOT NULL,
	[TENHOCSINH] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[KHOI] [nvarchar](10) NULL,
	[LOP] [nvarchar](10) NULL,
	[SDTPHUHUYNH] [nchar](10) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_HOCSINH] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOCSINH] ([MAHS], [TENHOCSINH], [GIOITINH], [NGAYSINH], [KHOI], [LOP], [SDTPHUHUYNH], [DIACHI]) VALUES (N'HS001     ', N'Dương Hoàng Anh', 1, CAST(0x822E0B00 AS Date), N'9', N'9A', N'0979459544', N'Trần Phú')
INSERT [dbo].[HOCSINH] ([MAHS], [TENHOCSINH], [GIOITINH], [NGAYSINH], [KHOI], [LOP], [SDTPHUHUYNH], [DIACHI]) VALUES (N'HS002     ', N'Trần Anh Tú', 1, CAST(0x152F0B00 AS Date), N'9', N'9B', N'0399751625', N'Lê Lợi')
INSERT [dbo].[HOCSINH] ([MAHS], [TENHOCSINH], [GIOITINH], [NGAYSINH], [KHOI], [LOP], [SDTPHUHUYNH], [DIACHI]) VALUES (N'HS003     ', N'Lương Thiên Ngân', 0, CAST(0x3F2E0B00 AS Date), N'9', N'9C', N'0345612592', N'Lý Tự Trọng')
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 03/05/2019 12:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGIAOVIEN] [nchar](10) NOT NULL,
	[TENGIAOVIEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[LOPCHUNHIEM] [nvarchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGIAOVIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [TENGIAOVIEN], [GIOITINH], [NGAYSINH], [LOPCHUNHIEM], [SDT], [DIACHI]) VALUES (N'GV01      ', N'Trần Anh Tài', 1, CAST(0x8A0B0B00 AS Date), N'6A', N'0967854321', N'98 Trần Hưng Đạo')
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [TENGIAOVIEN], [GIOITINH], [NGAYSINH], [LOPCHUNHIEM], [SDT], [DIACHI]) VALUES (N'GV05      ', N'Ngô Thị Thu An', 0, CAST(0xC70F0B00 AS Date), N'7A', N'0914189898', N'Tp Quảng Ngãi')
INSERT [dbo].[GIAOVIEN] ([MAGIAOVIEN], [TENGIAOVIEN], [GIOITINH], [NGAYSINH], [LOPCHUNHIEM], [SDT], [DIACHI]) VALUES (N'GV10      ', N'Phạm Thanh Hải', 1, CAST(0xEE0B0B00 AS Date), N'8A', N'0984390360', N'36 Hùng Vương')
/****** Object:  Table [dbo].[DIEM]    Script Date: 03/05/2019 12:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nchar](10) NOT NULL,
	[DIEMHK1] [float] NULL,
	[DIEMHK2] [float] NULL,
	[DIEMTB] [float] NULL,
	[HANHKIEM] [nvarchar](15) NULL,
	[XEPLOAI] [nvarchar](15) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DIEM] ([MAHS], [DIEMHK1], [DIEMHK2], [DIEMTB], [HANHKIEM], [XEPLOAI]) VALUES (N'HS001     ', 7, 8, 7.8, N'Tốt', N'Khá')
